*{
    margin:0; 
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: rgb(249, 87, 0); 
}
body{
    width: 100%; 
    height: 100%; 
}
nav{
    background-color: rgb(249, 87, 0);
    height: 50px;
    position: fixed;
    top: 0; 
    right:0; 
    left: 0; 
    z-index: 999;
}
nav ul{
    list-style-type: none; 
    line-height: 50px;
}
nav ul li{
    list-style: none;
    float: right; 
}
nav ul li a:hover{
    background-color: white; 
    color: rgb(249, 87, 0); 
}
nav ul li a{
    text-decoration: none;
    display: block; 
    text-align: center; 
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.w{
    padding-left: 40px; 
    padding-right: 40px; 
}
#cover-img{
    background-image: url("../img/background.jpg");
    height: 100vh;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    position: relative; 
}
.intro{
    margin: auto;
    padding-bottom: 10%;
    width: 100%; 
}
h1{
    font-weight: bold;
    font-size: 5em;  
    white-space: nowrap;
    text-align: center;
}
.spec{
    background-color: rgba(249, 87, 0, 0.5);
    color: white; 
    padding-left: 5px;
    padding-right: 5px; 
}
.underline{
    text-decoration: underline;
    color: white; 
}
#bottom{
    width: 100%;
    position: absolute;
    bottom: 70px; 
}
#bottom p{
    text-align: center;
    font-size: 2.5em; 
}
/*** Projects ***/
#projects{
    width: 100%; 
    /*min-height: 100vh; */
}
.h2-holder{
    padding-top: 50px;
    display: flex; 
}
.h2-holder h2{
    margin: auto; 
    font-size: 3em;
    border-bottom: 5px solid black;     
}
#all-projects{
    width: 100%; 
}
.single-project{
    margin-top: 3%;
    margin-bottom: 3%;
    width:100%; 
    display: flex; 
    flex-wrap: wrap;
    /*justify-content: start;*/ 
}
#img-1-holder{
    width: 80%;
}
#img-2-holder{
    width: 20%;
    padding-top: 10%; 
}
#img-1-holder img{
    width: 100%;
}
#img-2-holder img{
    width: 100%; 
}
#info{
    margin-left: 5%; 
    width: 37%;
    display: flex;
}
#info-content{
    margin: auto;
    padding-left: 10%; 
}
#info-content h3{
    font-size: 3em;
    padding-bottom: 3%;
    color: black;  
}
#info-content p{
    font-size: 1.2em;
    color: black;
    width: 80%;  
}
#info-btn{
    margin-top: 7%; 
}
.button-b{
    border: 1px solid rgb(249, 87, 0);
    padding: 3%; 
    text-decoration: none; 
    font-weight: bold; 
}
.button-b:hover{
    background-color:rgb(249, 87, 0);
    color: white; 
}
#small-frameworks{
    margin-bottom: 3%; 
}
.small-framework{
    background-color:rgb(249, 87, 0);
    color: white;
    padding: 1%; 
}
#horizontal-line{
    height: 3px; 
    width: 100%; 
    background-color: black; 
}
#animatedModal{
    background-color: white !important; 
}
#modal-02{
    background-color: white !important; 
}
#btn-close-modal a{
    color: black;
    text-decoration: none; 
}
/***Modal***/
.modal-content{
    margin-top: 50px; 
    width:100%;
    display: flex; 
}
#cont{
    margin: auto;
    width: 50%; 
}
#above-slider{
    width: 100%;
    flex-direction: column;
    margin-bottom: 5%; 
}
#above-slider h4{
    color: rgb(249, 87, 0);
    margin-top: 3%; 
    font-size: 3em;
    border-bottom: 5px solid black;  
}
#above-slider p{
    width:100%;
    color: black;
    margin-top: 3%;
    margin-bottom: 6%;
    font-size: 1.2em;   
}
.flexslider{
    border: 5px solid black;  
}
#modal-button{
    border: 1px solid rgb(249, 87, 0);
    padding: 3%; 
    text-decoration: none; 
    font-weight: bold;
    margin-top: 3%; 
}
#modal-button:hover{
    background-color: rgb(249, 87, 0);
    color: white;  
}
#about-project-modal{
    margin-top: 5%; 
}
#about-project-modal h4{
    font-size: 2em;
    border-bottom: 3px solid black; 
}
#about-project-modal p{
    font-size: 1.2em; 
    color: black;
    margin-top: 3%; 
}
#about-project-modal ul{
    padding-left: 20px;
    margin-top: 2%; 
}
#about-project-modal ul li{
    color: black;
    list-style-type: square;
    font-size: 1.2em; 
}
#btn-close-modal{
    display: flex; 
}
#btn-close-modal a{
    font-size: 3em;
    margin-left: 15px !important;
    position: fixed; 
}
/***Skills***/
#skills{
    width: 100%; 
    padding-bottom: 5%; 
    border-bottom: 3px solid black; 
}
#skill-desc{
    width: 100%; 
    display: flex; 
}
#skill-desc p{
    margin: auto;
    padding: 3%; 
    font-size: 1.5em; 
    color: black; 
}
#all-skills{
    width: 100%; 
    display: flex; 
    justify-content: center; 
}
#single-skill{
    margin-left: 1%; 
    margin-right: 1%;
    display: flex; 
    flex-direction: column; 
    text-align: center;  
    
    border: 3px solid black;
    padding: 1%; 
    display: inline-block;
    width: 12%;
    height:fit-content;
}
#single-skill i{
    font-size: 6em;
    padding-top: 20px; 
}
#single-skill h3{
    font-size: 1.5em;
    margin: 20px;  
    color: black;
}
#single-skill p{
    font-size: 1.5em; 
}
/***Footer***/
footer{
    width: 100%; 
    background-color: rgb(249, 87, 0);
    display: flex;
    justify-content: center; 
}
#f-container{
    width: 80%; 
    margin: auto; 
    margin-top: 3%; 
    margin-bottom: 3%; 
    display: flex;
}
#f-left{ 
    margin-right: 5%;
    margin-top: 3%; 
    margin-bottom: 3%; 
}
#f-left h4{
    color: white;
    font-size: 2em; 
}
#f-left p{
    color: white;  
    font-size: 1.5em;
    margin-top: 8px; 
    margin-bottom: 8px; 
}
#f-right{ 
    margin-top: 3%; 
    margin-bottom: 3%; 
}
#f-right h4{
    color: white; 
    font-size: 2em;
}
#f-right i{
    color: white; 
    font-size: 3em;
    margin: 15px;  
}
.mail{
    background-color: black;
    font-weight: bold; 
    padding-left: 3px;
    padding-right: 3px;
    /*color: white !important;*/ 
}
.proj-imgs{
    display: flex;
    width: 50%;
    margin-left: 4%; 
}